.loginAppContainer {
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginChildContainer {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .loginChildContainer {
    width: 1120px;
    display: flex;
    justify-content: space-between;
  }
}

.lgImage {
  width: 582px;
  height: 373px;
}
@media (max-width: 768px) {
  .lgImage {
    display: none;
  }
}

.formContainer {
  width: 456px;
  height: 458px;
  background: #fefeff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .formContainer {
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  }
}

.logo {
  width: 82px;
  height: 42px;
  margin-top: 60px;
}
.webSiteName {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #262626;
}

.customInputContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.customLabel {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #262626;
  margin-bottom: 8px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .customLabel {
    font-weight: 500;
  }
}

.customInput {
  background: #eeeeee;
  border-radius: 2px;
  border: none;
  outline: none;
  height: 40px;
  top: 24px;
  padding-left: 10px;
}

.loginButton {
  background: #4094ef;
  border-radius: 8px;
  height: 40px;
  width: 80%;
  margin-top: 24px;
  font-size: 14px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.errorWarningText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ef4444;
  margin-top: 2px;
  margin-bottom: 0px;
  align-self: flex-start;
  padding-left: 40px;
}
@media (min-width: 768px) {
  .errorWarningText {
    padding-left: 48px;
    margin-top: 3px;
  }
}
